body {
  background-image: url(kk.jpg);
  background-size: cover;
  padding-top: 30px;
  font-family: roboto;
}

.header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: rgb(255, 187, 0);
}

a{
  text-decoration: none;
  color : black;
}

.brand-name {
  position: absolute;
  left: 60px;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 25px;
  padding: 2px;
  color: white;
  outline: 3px solid rgb(255, 187, 0);
}

.nav-tick {
  display: flex;
  position: absolute;
  gap: 25px;
  color: rgb(255, 187, 0);
}

.nav-tick a {
  text-decoration: none;
  color: rgb(255, 187, 0);
}

a.home {
  color: white;
  border-bottom: 2px solid rgb(255, 187, 0);
  padding-bottom: 3px;

}

.nav-tick a:hover {
  color: white;
  border-bottom: 2px solid rgb(255, 187, 0);
  padding-bottom: 3px;
  transition: border-bottom 0.2s ease-in-out;
}



.login-bar {
  display: flex;
  position: absolute;
  right: 100px;
  gap: 25px;
  align-items: center;

}

.join-us {
  background-color: rgb(255, 187, 0);
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  color: black;
}

.alpha {
  max-width: 400px;
  margin-left: 50px;
  margin-top: 150px;
}

.alpha p {
  color: rgb(255, 187, 0);
  font-size: 15px;
  font-weight: 500;
}

.alpha-2 {
  font-size: 55px;
  color: white;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  transition: all .9s steps(200);

}

h4 {
  color: white;
  font-weight: 300;
  letter-spacing: 2px;
}

.g-t {
  color: black;
  background-color: rgb(255, 187, 0);
  padding: 15px 25px;
  border-radius: 5px;
  border: 1px solid rgb(255, 187, 0);
  margin-right: 10px;
}

.l-m {
  color: rgb(255, 187, 0);
  padding: 15px 25px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgb(255, 187, 0);
}

.l-m:hover {
  color: white;
  background-color: rgb(255, 187, 0);
  cursor: wait;
  

}
