 body {
   padding-bottom: 1000px;
   padding-top: 50px;
   padding-left: 80px;
 }

 .header-style {
   display: flex;
   flex-direction: row;
   background-color: purple;
   justify-content: space-between;
   align-items: center;
   padding-left: 20px;
   padding-right: 20px;
   top: 0;
   left: 0;
   right: 0;
   height: 55px;
   position: fixed;
 }

 .side-bar {
   background-color: rgb(222, 79, 212);
   position: fixed;
   bottom: 0;
   left: 0;
   top: 55px;
   width: 80px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin-top: 0;
 }

 .subscribe-button {
   background-color: rgb(200, 0, 0);
   color: white;
   border: none;
   height: 36px;
   width: 105px;
   padding: auto;
   border-radius: 2px;
   cursor: pointer;
   margin-right: 8px;
   transition: opacity 0.15s;

 }

 .subscribe-button:hover {
   opacity: 0.8;
 }

 .subscribe-button:active {
   opacity: 0.5;
 }

 .join-button {
   background-color: white;
   border: 1px solid rgb(0, 213, 255);
   height: 36px;
   width: 105px;
   color: rgb(0, 213, 255);
   cursor: pointer;
   border-radius: 2px;
   transition: background-color 0.15s, color 0.15s;

 }

 .join-button:hover {
   background-color: rgb(0, 213, 255);
   color: white;
 }

 .tweet-button {
   background-color: rgb(5, 159, 255);
   color: white;
   font-weight: bold;
   font-size: 15px;
   border: none;
   border-radius: 18px;
   height: 36px;
   width: 74px;
   cursor: pointer;
   margin-left: 8px;
   transition: box-shadow 0.15s;
   vertical-align: middle;

 }

 .tweet-button:hover {
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   opacity: 0.7;
 }

 .getstarted-button {
   background-color: rgb(121, 82, 179);
   color: white;
   font-weight: bold;
   height: 36px;
   width: 105px;
   border: none;
   border-radius: 2px;
 }

 .download-button {
   background-color: white;
   color: rgb(108, 117, 125);
   font-weight: bold;
   height: 36px;
   width: 105px;
   border: 1px solid rgb(108, 117, 125);
   border-radius: 2px;
   cursor: pointer;
   transition: bacground-color 0.15s, color 0.15s;
 }

 .download-button:hover {
   background-color: rgb(108, 117, 125);
   color: white;

 }

 .google-logo {
   width: 150px;
   margin-bottom: 10px;
   margin-left: 100px;
 }

 .google-logo:hover {
   transform: scaleX(1.5);
 }

 .searchbargoogle {
   width: 350px;
   height: 37px;
   border: 0;
   padding-left: 20px;
   border-radius: 50px;
   box-shadow: 0px 0px 4px rgb(177, 175, 175);
   outline: none;
 }

 .search-icon {
   display: block;
 }

 .search-icon .fa-solid {
   position: absolute;
   padding: 7px;
   margin-left: 330px;
   color: gray;
   display: block;
 }

 .google-tabs-box {
   margin-left: 65px;
 }

 .google-tabs {
   display: inline-block;
   background-color: rgb(238, 237, 237);
   text-align: center;
   padding-left: 10px;
   padding-right: 10px;
   margin-right: 15px;
   font-size: 12px;
   font-family: Roboto;
   font-weight: bold;
 }

 .pfp {
   border-radius: 50px;
   width: 50px;
   vertical-align: middle;
 }

 .tweeter {
   border: 0;
   font-size: 18px;
   vertical-align: middle;
   outline: none;
 }

 .tweet-box {
   box-shadow: 0.5px 0px 5px gray;
   display: inline-block;
   padding: 20px;
   border-radius: 20px;
   text-align: center;
 }

 .survey-intro {
   width: 200px;
   vertical-align: middle;
   display: inline-block;
 }

 .signup-inputs {
   width: 120px;
   height: 28px;
   border-radius: 7px;
   border: 1px solid gray;
   vertical-align: middle;
   padding: 5px;
   outline: none;
 }

 .signup-inputss {
   width: 255px;
   height: 28px;
   border-radius: 7px;
   border: 1px solid gray;
   padding: 5px;
   margin-top: 0;
   display: block;
   margin-bottom: 10px;
   outline: none;
 }

 .signup-button {
   width: 265px;
   height: 40px;
   border-radius: 7px;
   border: none;
   background-color: rgb(5, 159, 255);
   color: white;
   font-weight: bold;
   font-size: 15px;
 }

 .signup-button:hover {
   opacity: 0.8;
 }

 .fa-solid {
   margin-bottom: 5px;
   margin-top: 5px;
 }

 .timeline-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   column-gap: 30px;
   row-gap: 30px;
 }

 .timeline {
   box-shadow: 0px 0px 5px gray;
   margin-top: 15px;
   padding-left: 8px;
   height: 255px;
   border-top-left-radius: 50px;
 }

 .timeline-img {
   width: 100%;
   border-top-left-radius: 50px;
   border-bottom-right-radius: 50px;
   height: 130px;
 }

 .profile-name {
   font-family: montserrat;
   font-weight: bold;
   margin-top: 10px;
   margin-bottom: 1px;
 }

 .friend-details {
   width: 100%;
 }

 .mutual-grid {
   display: grid;
   grid-template-columns: 20px 1fr;
   grid-template-rows: 1fr;
   column-gap: 5px;
   align-items: center;
 }

 .mutual-friends {
   font-size: 12px;
   font-family: Roboto;
 }

 .mutual-img {
   border-radius: 50px;
   width: 100%;
 }

 .add-button {
   background-color: rgb(5, 159, 255);
   color: white;
   font-size: 12px;
   font-family: arial;
   border: none;
   border-radius: 10px;
   border-bottom-right-radius: 0;
   border-top-right-radius: 0;
   height: 30px;
   width: 100%;
   cursor: pointer;
   transition: box-shadow 0.15s;
 }

 .add-button:hover {
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   opacity: 0.7;
 }

 .follow-box {
   width: 400px;
   box-shadow: 1px 0px 3px gray;
   padding: 20px;
   margin-top: 20px;
 }

 .follow-column {
   display: flex;
   flex-direction: column;
 }

 .follow-tab {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 30px;
   align-items: center;
   margin-bottom: 40px;

 }

 .follow-merge {
   display: flex;
   align-items: center;
 }

 .follow-img {
   border-radius: 50px;
   width: 40px;
   margin-right: 10px;
 }

 .fpn {
   max-width: 45px;
   font-size: 13px;
   font-weight: bold;
   font-family: roboto;
 }

 .fp-b {
   color: gray;
   font-weight: 500;
   font-size: 10px;
 }

 .follow-button {
   background-color: rgb(5, 159, 255);
   width: 80px;
   height: 30px;
   font-weight: bold;
   border: none;
   color: white;
   border-radius: 5px;
 }

 .left-section {
   width: 20px;
 }

 .header-home {
   color: white;
   font-family: arial;
   font-weight: bold;
   font-size: 18px;
   letter-spacing: 1px;
 }

 .middle-section {
   max-width: 400px;
   margin-right: 80px;
   margin-left: 20px;
   flex: 1;
 }

 .header-search {
   width: 100%;
   height: 30px;
   margin-left: 30px;
   border-radius: 50px;
   border: 0;
   padding-left: 20px;
   outline: none;
 }

 .right-section {
   width: 100px;
 }

 .header-download {
   background-color: purple;
   color: white;
   border: 1px solid white;
   height: 30px;
   width: 100%;
 }

 .phone {
   width: 500px;
   box-shadow: 0px 0px 2px black;
   height: 120px;
   padding: 15px;
   margin-top: 30px;
 }

 .flexing-box {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .home-pad {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 15px;
   font-size: 18px;
   font-family: verdana;
 }

 .badge {
   background-color: purple;
   padding: 5px;
   width: 30px;
   text-align: center;
   color: white;
   border-radius: 30px;
 }

 .boxing {
   background-color: gray;
   position: relative;
   width: 300px;
   height: 200px;
   margin-left: 50px;
 }

 .cancel-button {
   position: absolute;
   top: -15px;
   left: -15px;
   background-color: black;
   color: white;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 15px;
   padding-bottom: 15px;
   border-radius: 50%;
   font-family: roboto, arial;
 }

 .timer {
   position: absolute;
   bottom: 5px;
   right: 5px;
   background-color: black;
   color: white;
   padding-right: 10px;
   padding-left: 10px;
   padding-top: 2px;
   padding-bottom: 2px;
   border-radius: 5px;
 }

 .sales-box{
  position: relative;
 }

 .price-tag{
  position: absolute;
  top: 10px;
  left: 320px;
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: Roboto;
  font-size: 12px;

 
 }

 .add-to-cart{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: gray;
  opacity: 0.8;
  height: 130px;
  width: 427px;
 }

 .add-to-cart-text{
  background-color: rgb(213, 213, 213);
  font-family: Roboto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  height: 25px;
  margin-left: 130px;
  margin-right: 130px;
  border: 2px solid rgb(255, 187, 0);
  color: rgb(255, 187, 0);
 }