 p {
      font-family: montserrat;
      margin-top: 0;
      margin-bottom: 0;
    }

    .video-title {
      font-size: 18px;
      font-weight: bold;
      width: 280px;
      line-height: 24px;
      margin-bottom: 5px;
    }

    .video-stats {
      font-size: 14px;
      color: rgb(96, 96, 96);
      margin-bottom: 20px;
    }

    .video-author {
      font-size: 14px;
      color: rgb(96, 96, 96);
      margin-bottom: 20px;
    }

    .video-description {
      font-size: 14px;
      color: rgb(96, 96, 96);
      width: 280px;
      line-height: 22px;
      margin-bottom: 100px;
    }

    .apple-text{
      margin-bottom: 50px;
      font-size: 14px;
      background-color: rgb(227, 65, 64);
      padding: 18px;
      text-align: center;
      color: white;
    }

    .shop-link, a{
      cursor: pointer;
      color: white;
      font-size: 13px;
    }

    .shop-link, a:hover{
      text-decoration: underline;
      color: grey;
    }