.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: white;
  border-bottom: 1px solid rgb(196, 195, 195);
  z-index: 100;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar {
  height: 37px;
  padding-left: 12px;
  width: 100%;
  font-size: 16px;
  border: 1px solid rgb(196, 195, 195);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  outline: none;
}

.search-bar::placeholder {
  font-family: Roboto, arial;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 60px;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(196, 195, 195);
  margin-left: -50px;
  margin-right: 10px;
  position: relative;
}

.search-button,
.voice-search-button {
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-button .toolkit {
  position: absolute;
  bottom: -30px;
  background-color: gray;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 2px;
  color: white;
  opacity: 0;
  transition: opacity 0.15s;
}

.toolkit {
  pointer-events: none;
}

.search-button:hover .toolkit {
  opacity: 1;
}

.search-icon {
  height: 25px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 25px;
  border: none;
  background-color: rgb(235, 235, 235);
}

.voice-search-icon {
  height: 24px;
  width: 28px;
}

.voice-search-button .toolkit {
  position: absolute;
  bottom: -20px;
  background-color: gray;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 2px;
  color: white;
  opacity: 0;
  transition: opacity 0.15s;
}

.toolkit {
  pointer-events: none;
}

.voice-search-button:hover .toolkit {
  opacity: 1;
}

.right-section {
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}

.youtube-icon {
  height: 24px;
}

.notifications-badging {
  position: relative;
}

.notifications-icon {
  height: 24px;
  margin-top: 5px;
}

.notifications-badge {
  position: absolute;
  right: -5px;
  top: 0;
  color: white;
  background-color: rgb(203, 34, 34);
  font-size: 11px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: Roboto, arial;
  text-align: center;
  border-radius: 10px;
}

.current-user-picture {
  height: 32px;
  width: 32px;
  border-radius: 16px;
}