body{
  background: cyan;
  display: flex;
  position: relative;
  justify-content: center;
  font-family: cambria;
  color: white;
  padding-top: 100px;
}

form{
  display: flex;
  position: absolute;
  align-items: center;
  background-color: rgba(60, 60, 60, .6);
  flex-direction: column;
  width: 320px;
  height: 300px;
  border-radius: 7px;
  box-shadow: 4px 6px 25px black;
}

h2{
  font-size: 30px;
  margin-bottom: -15px;
}

h4{
  text-align: center;
  font-size: 10px;
}
input{
  border: none;
  background-color: transparent;
  border-bottom: 2px solid cyan;
  outline: none;
  margin-bottom: 7px;
  width: 200px;
  height: 35px;
  color: white;
  font-size: 15px;
}
input::placeholder{
  color: white;
}

button{
  width: 200px;
  height: 35px;
  margin-top: 5px;
  background-color: transparent;
  border: 2px solid cyan;
  color: cyan;
}
p{
  font-size: 10px;
}
span{
  color: cyan;
}